<%- include("header"); -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% newListItems.forEach(function(items){%>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%=items._id %>" onchange="this.form.submit()">
                    <p>
                        <%=items.name %>
                    </p>
                </div>
                <!-- use for value it is hidden so no any one can see just for internal use -->
                <input type="hidden" name="listName" value="<%=listTitle %>"></input>
            </form>

        <%})%>
            <form class="item" action="/" method="post">
                <input type="text" name="new_item" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value=<%=listTitle %>>+</button>
            </form>
    </div>

    <%- include("footer"); -%>